[submodule "plugins/sfPluginManagerPlugin"]
	path = plugins/sfPluginManagerPlugin
	url = git://github.com/weaverryan/sfPluginManagerPlugin.git
[submodule "lib/vendor/php-github-api"]
	path = lib/vendor/php-github-api
	url = git@github.com:bshaffer/php-github-api.git
