#header, #footer {
  padding: 0 !important;
}

#header {
  background: #53A9D7 url('../images/frontend/header.jpg') repeat-x center top;
  height: 126px;
}

#footer {
  background: #000000 url('../images/frontend/footer.png') repeat-x left top;
  height: 287px;
  width: 100%;
  position: relative;
  bottom: 0;
}

#secondary-nav
{
  float:right;
  clear:both;
  margin-top:-50px;
}

#secondary-nav li
{
  float:left;
  list-style-type:none;
  color:black;
  font-size:11px;
  padding-right:8px;
}

#secondary-nav li a
{
  color:#333333;
}

.content ul li
{
  list-style-type:none;
  margin:0;
  padding:0;
}

.content h3
{
  font-size:1.0em;
  background-color: #DDD;
  padding:2px 8px;  
  margin-bottom:5px;
}

.view-all-plugins
{
  font-size:0.5em;
}

#right_column
{
  float: right;
  width: 250px;
	border: 1px solid #BBBBBB;
	padding: 10px;
	margin-left:20px;
}

.search-results-container h6
{
  margin-bottom:5px;
}
