/*@group HTML Elements*/
a, img {
	outline: none;
}

a {
	color: #7AA6A4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
input, textarea, select
{
  display:block;
}
/*@end*/

/*@group Layout*/
body {
	background: #FFFFFF;
	color: #333333;
	font-size: 12px;
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 18px;
}

#page {
	background-color: #FFFFFF;
	padding: 20px 0;
}
/*@end*/

/*@group Header*/
div#site-logo
{
  text-indent: -9999px;
  background: transparent url('../images/logo.png') no-repeat center center;
  width:223px;
  height:56px;
  padding:20px 0px 10px 20px;
  
}

div#header {
	padding: 0 0 2em 0;
}

ul#nav
{
  width:100%;
  height:20px;
  padding:15px 0;
  background:#BBBBBB;
}

ul#nav li {
	display: inline;
	font-size: 1.2em;
	list-style: none;
	margin: 0 15px;
}

ul#nav li a
{
  color: black;
}
/*@end*/

/*@group sidebar-left*/
label.subnav-label {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
}
/*@end*/

/*@group footer*/

div#footer {
	padding-top: 1.5em;
}
ul#footer-nav {
	display: block;
	list-style: none;
	text-align: center;
}

ul#footer-nav li {
	display: inline;
}
/*@end*/

/*@group comments*/
#add-comment-form th
{
  padding: 5px;
  text-align:left;
}

.claim
{
  font-style: italic;
}

.comment_thread_header
{
  
}

#add-comment-form h3
{
  margin-top:10px;
  font-size:16px;
}

.comment_row
{
  list-style-type:none;
  padding:5px 0;
  margin-left:5px;
}

/*@end*/

/*@group pagination*/

.pagination {
  overflow: hidden;
  margin: 20px 0;
  clear:left;
}

.pagination span {
  display: block;
  margin-bottom: 10px;
}

.pagination ul li
{
  float:left;
  list-style-type:none;
  margin-left:0;
  margin-right:13px;
  padding:0;
}
/*@end*/