/*@group HTML Elements*/
a, img {
	outline: none;
}

a {
	color: #7AA6A4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
input, textarea, select
{
  display:block;
}
/*@end*/

/*@group Layout*/
body {
	background: #FFFFFF;
	color: #333333;
	font-size: 12px;
	font-family: 'Arial', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 18px;
}

#page {
	background-color: #FFFFFF;
	padding: 20px 0;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	min-height:400px;
}

#page .content
{
  padding:10px;
}

#page h1
{
  font-size:1.8em;
}
/*@end*/

/*@group Header*/
span#site-logo
{
  text-indent: -9999px;
  background: transparent url('../images/logo.png') no-repeat center center;
  width:223px;
  height:56px;
  padding:20px 0px 10px 20px;
  display:block;
}

div#header {
	padding: 0 0 2em 0;
}

#header .content
{
  width: 962px;
  margin:auto;
}

#header form.search-controls
{
  float:right;
  padding-top:25px;  
}

h2
{
  color: #3B9BCB;
  font-size: 1.6em;
  margin-bottom:10px;
}

.plugin_search_form input {
  border:1px solid #CCCCCC;
  padding:2px 5px;
  display:inline;  

}

.search-controls input, 
#add-comment-form textarea,
#add-comment-form input.button,
#add-comment-form table input {
  border:1px solid #CCCCCC;
  padding:2px 5px;
  display:inline;  
}

#add-comment-form input.button
{
  display:block;
}


#add-comment-form table input.hidden,
.plugin_search_form input.hidden {
  border:0;
  padding:0;
}

ul#nav
{
  width:100%;
  height:20px;
  padding:10px 0;
  background:#BBBBBB;
}

ul#nav li {
	display: inline;
	font-size: 1.0em;
	list-style: none;
	margin: 0 0 0 20px;
}

ul#nav li a
{
  color: #444444;
}

ul#nav li a:hover
{
  color: black;
  text-decoration: underline;
}
/*@end*/

/*@group sidebar-left*/
label.subnav-label {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
}
/*@end*/

/*@group footer*/

div#footer {
	padding-top: 1.5em;
}
ul#footer-nav {
	display: block;
	list-style: none;
	text-align: center;
}

ul#footer-nav li {
	display: inline;
}
/*@end*/

/*@group comments*/
#add-comment-form th
{
  padding: 5px;
  text-align:left;
}

.claim
{
  font-style: italic;
  padding-top:10px;
}

.comment_thread_header
{
  
}

#add-comment-form h3
{
  margin-top:10px;
  font-size:16px;
}

.comment_row
{
  list-style-type:none;
  padding:5px 0;
  margin-left:5px;
}

/*@end*/

/*@group pagination*/

.pagination {
  overflow: hidden;
  margin: 20px 0;
  clear:left;
}

.pagination span {
  display: block;
  margin-bottom: 10px;
}

.pagination ul li
{
  float:left;
  list-style-type:none;
  margin-left:0;
  margin-right:13px;
  padding:0;
}
/*@end*/

/*@group plugins*/
.example-text
{
  display:block;
}

ul.plugins-list li
{
  list-style-type:none;
}
.plugins-list li 
{
  margin:0;
  padding:0;
}

.plugins-list li p
{
  display:block;
  clear:both;
  margin-bottom:10px;
}
.plugin-block
{
  padding-bottom:30px;
}
.plugin-block h3
{
  font-size:1.0em;
  background-color: #DDD;
  padding:2px 8px;  
}

.plugin-title
{
  font-weight:bold;
}
.plugins-list .rating, .plugins-list .plugin-title, .plugins-list .num_votes
{
  float: left;
  padding: 2px 4px;
}

.plugin-header
{
  display:block;
  clear:both;
}

table#plugin-info
{
  border-collapse: separate;
  border:1px solid #333;
  padding:20px;
  margin:5px;
  width:400px;
}

table#plugin-info .rate_this
{
  float:left;
}

table#plugin-info th
{
  text-align:left;
  padding: 0 15px 0 0;
  white-space:nowrap;
}

table#plugin-info .messages, .notice
{
  background:#FFFFCC url(../sfDoctrinePlugin/images/tick.png) no-repeat scroll 10px 4px;
  border-bottom:1px solid #DDDDDD;
  border-top:1px solid #DDDDDD;
  margin:4px 0;
  padding:4px 4px 4px 30px;
}

table#plugin-info .notice
{
  background-image: url(../sfDoctrinePlugin/images/error.png);
}


.comment_thread_header a
{
  display:block;
}
.comments_thread
{
  margin-top:20px;
}

.comments_thread ul ul
{
  margin-left:10px;
}
/*@end*/

/*@group misc*/

.error_list
{
  margin:0;
  padding:0;
  color:red;
  font-weight:bold;
}
/*@end*/

/*@homepage search*/
#homepage-search-results
{
  margin-top: 20px;
}
.search-controls select, .search-controls input
{
  float:left;
  margin-right:5px;
}
/*@end*/

/* @community lists*/
.community-list-items h3 span.thumbs_rating
{
  float:right;
}
/*@end*/